<div class="bg-white shadow-md w-72 h-96 flex flex-col cursor-pointer">
  <img class="" [src]="[product.imgUrl]" alt="placeholder image" />
  <div class="w-full flex-grow flex flex-row justify-between items-center">
    <h1 class="max-w-[160px] flex-shrink px-4 text-base flex flex-col gap-0.5">
      <span class="font-semibold">{{ product.name }}</span>
      <span class="truncate text-xs">{{ product.description }}</span>
    </h1>
    <h3 class="flex-grow px-4 text-2xl font-bold text-center">{{ product.price }}:-</h3>
  </div>
</div>
