/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .is-active {
    @apply border-b-4 border-sky-400 pb-3;
  }
}

@layer utilities {
  .is-active {
    border-bottom-width: 4px;
    --tw-border-opacity: 1;
    border-color: rgb(125 211 252 / var(--tw-border-opacity));
    padding-bottom: 0.75rem !important;
  }
}
