<div class="w-full h-full bg-white m-auto flex flex-col justify-center content-center pt-10">
  <nav class="w-full border-b border-gray-200 bg-white px-4 sm:px-20 xl:px-40 fixed top-0">
    <ul class="flex flex-row items-center justify-evenly sm:justify-start content-center space-x-8 text-lg font-sans">
      <li class="px-1 py-4" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/">Home</a>
      </li>
      <li class="px-1 py-4" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/manage">Manage Products</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
